.panel{
    border-radius: 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding:3rem;
    margin:2rem;
    cursor: pointer;
}

.panel img{
    margin:auto;
    width:15rem;
    height:15rem;
    border-radius: 10rem;
    border: 1px solid var(--irl-color-primary);
}
.panel .text{
    padding:1rem 1rem;
}

.panel:hover{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
.panel img{
    margin:auto;
    width:12rem;
    height:12rem;
    border-radius: 10rem;
    border: 1px solid var(--irl-color-primary);
}

.panel{
    padding:1rem;   
    margin:1rem;
}
}