.contact-card {
    border:1px solid var(--irl-color-gray);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius:1rem;
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontally center children */
    text-align: center;   
    color: var(--irl-color-black);
    min-height:12rem;
    margin:1rem 0rem;

}

.contact-card .tag{
    font-weight: 700;
}