.card{
    cursor: pointer;
    min-height:15rem;
    border-radius: 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding:1.5rem;
    margin:1rem 0rem;
    box-shadow: 0 4px 40px #4F6C811F;
}

.card img{
    max-height:12rem;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin:1rem 0rem;

}

.card:hover{
   box-shadow: 0 4px 16px #4F6C811F;
}
