<div class="card">
    <h4>{{event.event}}</h4>
    <img *ngIf="event.image" [src]="event.image" class="card-image">
    
    <span class="p-1" *ngIf="!event.coordinates; else coorindateFound">
    <i class="fa fa-map-marker mx-2"> </i>{{event.location}}</span>
    <ng-template #coorindateFound>
     <a target="_blank" class="p-1" [href]="event.coordinates">
    <i class="fa fa-map-marker mx-2"> </i>{{event.location}}</a>
    </ng-template>
 <span  class="p-1">
    <i class="fa fa-calendar mx-2"> </i>{{event.date}}</span>
 <span  class="p-1">
    <i class="fa fa-clock  mx-2"> </i>{{event.time}}</span>
 <span *ngIf="event.bagDrop !== null"  class="p-1">
    <i  class="fa fa-suitcase  mx-2"></i>
        {{ event.bagDrop===true  ? 'Yes' : 'No' }}</span>
<span *ngIf="event.description" class="p-1">
    <i class="fa fa-info-circle  mx-2"> </i>{{event.description}}</span>
    
</div>