<div class="container">
    <div class="d-flex flex-wrap justify-content-between align-items-center my-4 border-top">
        <div class="col-md-6 d-flex align-items-center"> <a href="/" class="mb-3 me-2 text-decoration-none lh-1"
                aria-label="Bootstrap"> <svg class="bi" width="30" height="24" aria-hidden="true">
                    <use xlink:href="#bootstrap"></use>
                </svg> </a> <span class="text-body-secondary">© 2016 Irish Running London</span>

        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">

                <a class="text-body-secondary" target="_blank" href="https://www.instagram.com/irishrunninglondon/"
                    aria-label="Instagram">
                    <img src="instagram.svg" alt="Instagram logo" width="20" height="20"></a>

            </li>
            <li class="ms-3">

                <a class="text-body-secondary" target="_blank" href="https://www.facebook.com/groups/IrishRUNLondon/"
                    aria-label="facebook">
                    <img src="facebook.svg" alt="Facebook logo" width="20" height="20"></a>

            </li>
            <li class="ms-3">

                <a class="text-body-secondary" target="_blank" href="https://chat.whatsapp.com/IGwe9Cdxw6ZFrfUEtexvcc"
                    aria-label="whatsapp">
                    <img src="whatsapp.svg" alt="Whatsapp logo" width="20" height="20"></a>

            </li>
        </ul>
    </div>
</div>